@model StudentModel

@{
    ViewData["Title"] = "Update";
}

<a asp-action="Read">List all students</a>

<h2>Update</h2>

<form method="post">
    <p>
        <label asp-for="Name">Your Name:</label>
        <input asp-for="Name" />
    </p>

    <p>
        <label asp-for="Gender">Your Gender:</label>
        <select asp-for="Gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
        </select>
    </p>

    <p>
        <label asp-for="City">Your City:</label>
        <input asp-for="City" />
    </p>

    <p>
        <label for="Graduated">Graduated:</label>
        <select id="Graduated" name="Graduated">
            @if (Model != null && Model.Graduated == true)
            {
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            }
            else
            {
                <option value="true">Yes</option>
                <option value="false" selected>No</option>
            }
        </select>
    </p>

    <p><button type="submit">Submit</button></p>
</form>
